@model S3Train.Models.ForgotPasswordViewModel
@{
                /**/

                ViewBag.Title = "Forgot your password?";
}
<h2>@ViewBag.Title.</h2>
@*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{*@
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <form id="ForgotForm">
        <div id="forgot"><ul style="color:red;">Invalid Username</ul></div>
        <div class="md-form form-sm mb-5 emailAfter">

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <i class="fas fa-envelope prefix"></i><label data-error="wrong" data-success="right" for="modalLRInput10">Your email(*)</label>
        </div>

        <div class="text-center mt-2 emailAfter">
            <button class="btn btn-info ForgotHome" type="submit">EMAIL LINK <i class="fas fa-lg"></i></button>
        </div>
    </form>


@*}*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
